@import "nprogress/nprogress.css";

#nprogress .bar {
    background: #0CC863 !important;
    height: 6px !important;
}

#nprogress .spinner .spinner-icon {
    border-top-color: #0CC863 !important;
    border-left-color: #0CC863 !important;
}


@tailwind base;
@tailwind components;

@layer components {
    .counter-btn {
        @apply border rounded-lg w-[32px] h-[32px] md:w-[48px] md:h-[48px] flex items-center justify-center;
    }
    .counter-icon {
        @apply border rounded-full w-[16px] h-[16px] border-primary flex items-center justify-center text-primary;
    }
    /*  range slider component style  */
    .slideContainer {
        @apply w-full;
    }
    .slideContainer .slider {
        -webkit-appearance: none;
        transition: opacity 0.2s;
        -webkit-transition: 0.2s;
        @apply w-full h-1 outline-none rounded-se bg-secondaryGreen opacity-70;
    }

    .slideContainer .slider:hover {
        opacity: 1;
    }
    .slideContainer .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply bg-primaryGreen rounded-full w-6 h-6 cursor-pointer;
    }
    .slideContainer .slider::-moz-range-thumb {
        @apply bg-white border-4 rounded-full border-primaryGreen w-6 h-6 cursor-pointer;
    }
    .slideContainer .slider::-moz-range-progress {
        @apply bg-primaryGreen;
    }
    /*  range slider component style  */

    /* stepper active tab underline style */
    .underline-stepper {
        @apply absolute -bottom-[1px] h-[1px] left-0 right-0
    }
    /* stepper active tab underline style */

    .wallet-assets-link {
        @apply bg-gradient-to-r from-[#3fb1d6b3] py-1.5 from-5% to-[#bf8bdf] rounded-md mb-2 text-center block text-white text-xs lg:text-sm
    }
}



@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    color: rgb(var(--foreground-rgb));
    /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}
